<div class="d-flex justify-center">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4 col-6">
        <div class="card align-middle m-3 ">
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-body text-center">
            <h3 class="card-title card-title-link"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
